@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ProductSansBold.woff") format("woff"),
    url("../fonts/ProductSansBold.woff2") format("woff2");
}

@font-face {
    font-family: "ProductSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    
    src: url("../fonts/ProductSansRegular.woff") format("woff"),
    url("../fonts/ProductSansRegular.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: "ProductSans", "Arial", sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION-0 ---HEADER--- */
.site-header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}
.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-logo {
    width: 58px;
    height: 20px;
}
.main-logo:hover {
    opacity: 0.8;
}
.main-logo:active {
    opacity: 0.6;
}
.nav {
    display: flex;
    list-style-type: none;
    margin-left: 400px;
}
.nav li a{
    font-size: 15px;
    /* line-height: 24px; */
    color: black;
    text-decoration: none;
}

.nav >li{
    padding: 0 16px;
    transition: all 0.3s ease;
}
.nav > li:hover{
    border-bottom: 2px solid black;
}
.nav > li:active{
    background: rgba(25, 25, 25, 0.7);
}
.hassub {
    position: relative;
    border-bottom: 2px solid transparent;
}
.sub-munu {
    display: none;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 1;
    list-style-type: none;
    top: 100%;
    left: 0;
    background-color: #fff;
}

.hassub:hover .sub-munu {
    display: block;
}
.sub-munu li {
    padding: 8px;
    transition: all 0.3s ease;
}
.sub-munu li:hover {
    background: #00BAFC;
}
.sub-munu li:active {
    opacity: 0.6;
}

.tel_button {
    padding: 8px 16px;
    background-color: #00BAFC;
    border-radius: 5px;
    line-height: 24px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    border: 3px solid #00BAFC;
    transition: all 0.3s ease;
}
.tel_button:hover {
    background-color: #fff;
    color: #00BAFC;
    border: 3px solid #00BAFC;
}
.tel_button:active {
    background: rgba(0, 186, 252, 0.6);
    color: #FFF;
    border: 3px solid transparent;
}

/* SECTION-1 ---Main-section--- */
.main-section {
    margin-bottom: 80px;
}
.main-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side {
    width: 465px;
}
.main-section-header {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}
.main-section-text {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0;
}
.main-section-button {
    display: block;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    background: #00BAFC;
    text-decoration: none;
    border-radius: 5px;
    width: 211px;
    height: 40px;
    color: #FFF;
    transition: all 0.3s ease;
}
.main-section-button:hover {
    background: rgba(0, 186, 252, 0.8);
}
.main-section-button:active {
    background: rgba(0, 186, 252, 0.6);
}
.video {
    width: 485px;
    height: 258px
}
.line {
    width: 300px;
    height: 3px;
    background: #EEE;
    margin: 0 auto;
    margin-bottom: 54px;
}

/* SECTION-2 ---Service--- */
.service-top {
    width: 719px;
    text-align: center;
    margin: 24px auto;
}
.service-heading {
    font-size: 24px;
    line-height: 130%; 
}
.service-text {
    line-height: 24px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.service-list li {
    width: 320px;
    height: 260px;
    box-shadow: 0px 8px 8px rgba(42, 42, 42, 0.5);
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin-right: 70px ;
    padding-top: 20px;  
    transition: all 0.3s ease;
}
.service-list li:nth-child(3) {
    margin-right: 0;
}
.service-list li:nth-child(4) {
    margin-top: 48px;
}
.service-list li:nth-child(5) {
    margin-top: 48px;
}

.service-list li h3 {
    font-size: 20px;
    line-height: 26px;
}
.service-list li a {
    text-decoration: none;
    color: black;
}
.service-list li:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.service-list li:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.service-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-left-button {
    font-weight: bold;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    width: 155px;
    height: 40px;
    padding: 8px 16px;
    margin-right: 8px;
    text-decoration: none;
}
.service-left-button:hover {
    background: rgba(0, 186, 252, 0.8);
}
.service-left-button:active {
    background: rgba(0, 186, 252, 0.6);
}

.service-right-button {
    margin-left: 8px;
    color: #00BAFC;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid #00BAFC;
}
.service-right-button:hover {
    opacity: 0.8;
}
.service-right-button:active {
    opacity: 0.6;
}
.line2 {
    width: 300px;
    height: 3px;
    background: #EEE;
    margin: 54px auto;
}

/* SECTION-3 ---Process--- */
.process-top {
    width: 719px;
    text-align: center;
    margin: 24px auto;
}
.process-heading {
    font-size: 24px;
    line-height: 31px;
}
.process-list {
    width: 832px;
    margin: 0 auto;
    padding: 0;
}
.process-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}
.process-list div {
    width: 493px;
}
.process-sub-heading {
    font-size: 20px;
    line-height: 26px;
}
.process-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION-4 ---Order--- */
.order {
    margin-top: 56px;
    background: #00BAFC;
    padding-bottom: 64px;
    padding-top: 56px;
    text-align: center;
}
.order-top {
    width: 719px;
    text-align: center;
    margin: auto;
}
.order-heading {
    font-size: 24px;
    line-height: 31px;
    color: #fff;
}
.order-text {
    line-height: 24px;
    color: #fff;
}

.order-list {
    width: 348px;
    height: 304px;
    background-color: #fff;
    border-radius: 5px;
    margin: 24px auto;
}
.order-form{
    display: block;
    flex-direction: column;
    padding: 24px;
}
.order-form input{
    width: 300px;
    height: 58px;
    background: #F3F3F3;
    margin-bottom: 16px;
}
.order-form select{
    width: 300px;
    height: 58px;
    background: #F3F3F3;
}
.order-button {
    display: flex;
    font-weight: bold;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    outline: none;
    border-radius: 5px;
    width: 155px;
    height: 40px;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    margin: auto;
}

.footer {
    background: #191919;
    color: #fff;
    padding: 56px 0;
}
.footer .container {
    display: flex;
}
.footer-left {
    width: 320px;
    margin-right: 100px;
}
.footer-heading {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
}
.footer-middle {
    margin-right: 100px;
}
.footer-nav-list {
    list-style-type: none;
    padding: 0;
}
.footer-nav-list li {
    line-height: 24px;
    margin-top: 8px;
}
.footer-nav-list a:hover {
    color: #00BAFC;
}
.footer-nav-list a:active {
    opacity: 0.6;
}
.footer-nav-list a {
    text-decoration: none;
    color: #fff;
}



.social-media {
    list-style-type: none;
    padding: 0;
}
.social-media li {
    line-height: 24px;
    margin-top: 8px;
}
.social-media a {
    text-decoration: none;
    color: #fff;
}
.social-media a:hover {
    color: #00BAFC;
}
.social-media a:active {
    opacity: 0.6;
}

.footer-icons {
    padding-left: 10px;
}

